name: "Build Android APK"

on:
  release:
    types: [created]

permissions:
  contents: write

jobs:
  test:
    uses: ./.github/workflows/test.yaml

  build-android:
    name: Build Android APK
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set Up Java
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: "17"

      - name: Set Up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.38.5"
          channel: "stable"
          cache: true

      - name: Install Dependencies
        run: flutter pub get

      - name: Create .env file
        run: |
          cat << EOF > .env
          ${{ secrets.ENV_VARS }}
          EOF

      - name: Build APK (Split per ABI)
        run: flutter build apk --release --split-per-abi --dart-define-from-file=.env

      - name: Upload APKs
        uses: actions/upload-artifact@v4
        with:
          name: android-apks
          path: build/app/outputs/apk/release/*.apk

      - name: Upload to Release
        uses: softprops/action-gh-release@v1
        with:
          files: build/app/outputs/apk/release/*.apk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
